body {
    padding: 30px;
}


@media (max-width: 970px) {
    .pull-right{
        float: left !important;
    }
}
.hide-soft{
    display: none;
}

/* Navbar */

.navbar
.navbar-brand  img{
    max-height: 50px;
}
.navbar-right img{
    max-width: 40px;
    margin: 20px 10px;
}
.navbar-right:hover{
    cursor:pointer;
    color: #3366FF;
}
@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}
}
/* Patient details */

.jumbotron {
    padding-bottom: 30px;
}

.jumbotron .img-thumbnail {
    float: left;

    width: 150px;
    height: 150px;
}

.jumbotron table {
    display: block;

    padding: 10px 220px 0 200px;

    font-size: 60%;
}

/* Selected device */

.device p{
    text-align: center;
}


.device img {
    display: block;

    width: 100px;
    height: 100px;

    margin-left: auto;
    margin-right: auto;
}

.device .well:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

/* Devices */

.devices {
    display: none;
    float: right;

    margin-bottom: 1em;

    border: 1px solid #e3e3e3;
}

.devices p.description {
    margin-bottom: 1.5em;
    padding-bottom: 1em;

    text-align: center;
    font-size: 130%;
}

.devices .device {
    margin-right: 2.5em;
}

/* Question list */

.nav-pills {
    margin-bottom: 1em;
}

.assignment-filter {
    clear: both;
}

.assignments,
.assignments li {
    position: relative;
    top: 0;
    left: 0;
}

.assignments li {
    padding: 1em;

    cursor: pointer;
}

.assignments li .glyphicon {
    margin-right: 1em;
}

.assignments li[data-checked="false"]>.glyphicon,
.assignments li[data-checked="false"] {
    color: #999;
}